<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<header th:replace="partials/nav :: nav"></header>
<container>
    <div class="page-title-wrap">
        <div class="page-title"><h1>New Medication</h1></div>
    </div>
    <div class="form-wrap">
        <form th:action="@{/medicines/create}" th:method="post" th:object="${medicine}">
            <label for="medicine-name">Name of Medication</label>
            <input id="medicine-name" placeholder="Enter medication name" type="text" name="medicine_name" th:field="*{medicine_name}" />
            <p th:if="${#fields.hasErrors('medicine_name')}" th:errors="*{medicine_name}" />
            <label for="refill-date">Medication Refill Date</label>
            <input id="refill-date" placeholder="Enter medication refill date" type="text" name="refill_date" th:field="*{refill_date}" />
            <p th:if="${#fields.hasErrors('refill_date')}" th:errors="*{refill_date}" />

            <label for="notes">Personal Notes</label>
            <input id="notes" placeholder="Enter personal notes" name="notes" th:field="*{notes}" />
            <p th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}" />


            <button>Add Medicine</button>

        </form>
    </div>


    <div class="epmty-space"></div>
</container>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>