<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
<header th:replace="partials/nav :: nav"></header>
<main>
    <div class="page-title-wrap">
        <div class="page-title"><h1>New Medication</h1></div>
    </div>
    <div class="form-wrap-picker">
        <form th:action="@{/medicines/create}" th:method="post" th:object="${medicine}">
            <label for="medicine-name">Name of Medication</label>
            <input id="medicine-name" placeholder="Enter medication name" type="text" name="medicine_name" th:field="*{medicine_name}" />
            <p th:if="${#fields.hasErrors('medicine_name')}" th:errors="*{medicine_name}" />
            <div class="hide-time">
                <label for="time">Medication Refill Date</label>
                <input id="time" placeholder="Enter date and time of appointment" type="hidden" th:field="*{refill_date}" />
            </div>
            <!--<label for="refill-date">Medication Refill Date</label>-->
            <!--<input id="refill-date" placeholder="Enter medication refill date" type="text" name="refill_date" th:field="*{refill_date}" />-->
            <p th:if="${#fields.hasErrors('refill_date')}" th:errors="*{refill_date}" />

            <label for="notes">Personal Notes</label>
            <input id="notes" placeholder="Enter personal notes" name="notes" th:field="*{notes}" />
            <p th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}" />


            <button id="med_only" type="submit" name="choice" th:value="med_only">Add Prescription </button>
            <h6>- or -</h6>
            <button id="create_reminder" type="submit" name="choice" th:value="reminder">Create Prescription With a Reminder</button>

        </form>
    </div>


</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $('#time').datetimepicker({
            inline: true,
            sideBySide: true
        });
    });
</script>

</body>
</html>