<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
<header th:replace="partials/nav :: nav"></header>

<main>
    <div class="page-title-wrap">
        <div class="page-title"><h1>Edit Medication</h1></div>
    </div>
    <div class="form-wrap">
        <form th:action="@{'/medicines/' + ${medicine.id} + '/edit'}" th:method="post" th:object="${medicine}">
            Name of Medicine:
            <input th:field="*{medicine_name}" />
            <br />
            Refill Date:
            <input th:field="*{refill_date}" />
            <br />
            Notes:
            <input th:field="*{notes}" />
            <br />
            <input type="hidden" th:field="*{id}" />
            <input type="submit" value="Update Medicine" />
        </form>

        <form th:action="@{/medicines/delete}" th:method="post" th:object="${medicine}">
            <input type="hidden" th:field="*{id}" />
            <button>Delete</button>
        </form>
    </div>


</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>