<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
    <header th:replace="partials/nav :: nav"></header>

    <container>
        <div class="page-title-wrap">
            <div class="page-title"><h1>Create Post</h1></div>
        </div>

        <div class="form-wrap">
            <form th:action="@{/group/{gid}/posts/create(gid=${group.id})}" th:method="post" th:object="${post}">
                <input th:type="hidden" type="hidden" th:field="*{group}" />
                <label for="title">Post Title</label>
                <input id="title" placeholder="Enter a title" type="text" th:field="*{title}" />
                <label for="body">Post Body</label>
                <textarea class="textarea" id="body" placeholder="Enter text" th:field="*{body}"></textarea>

                <button>Create Post</button>

            </form>
        </div>
        <div class="epmty-space"></div>
    </container>
    <footer th:replace="partials/footer :: footer"></footer>
</body>
</html>