<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
    <header th:replace="partials/nav :: nav"></header>


    <main>
        <div class="page-title-wrap">
            <div class="page-title"><h1>Edit Post</h1></div>
        </div>
    <div class="form-wrap">
        <form th:action="@{'/group/' + ${group.id} + '/posts/' + ${post.id} + '/edit'}" th:method="post" th:object="${post}">
            <label>Title</label>
            <input th:field="*{title}" />
            <br />
            <label>Body</label>
            <input th:field="*{body}" />
            <br />
            <input type="hidden" th:field="*{id}" />
            <button type="submit">Update Post</button>
        </form>
    </div>

        <div class="form-wrap">
            <h6>- or -</h6>
        <form th:action="@{/group/{gid}/posts/delete(gid=${group.id})}" th:method="post" th:object="${post}">
            <button>Delete Post</button>
            <input type="hidden" th:field="*{id}" />
        </form>
        </div>
    </main>
    <footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>