<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Groups')"></head>
<body>
<article>
<header th:replace="partials/nav :: nav"></header>

<main>
    <div class="page-title-wrap">
        <div class="page-title"><h1 th:text="${group.name}"></h1></div>
    </div>

    <div class="groups-wrap">
        <div class="group" th:each="post : ${posts}">
            <h2><span th:text="${post.title}"></span></h2>
            <p><span th:text="${post.body}"></span></p>
            <a th:href="@{/group/{gid}/posts/{pid}(gid=${group.id}, pid=${post.id})}">
                <button>View Post</button>
            </a>

        </div>

    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>