<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
    <header th:replace="partials/nav :: nav"></header>

    <main>
        <div class="page-title-wrap">
            <div class="page-title"><h1>Post</h1></div>
        </div>


            <div class="single-group-wrap">
                <div class="single-group">
                    <h2><span th:text="${post.title}"></span></h2>
                    <p><span th:text="${post.body}"></span></p>
                    <p><span th:text="${'Author: ' + post.user.username}"></span> </p>
            <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == post.user.id}">
                <a th:href="@{/group/{gid}/posts/{pid}/edit(gid=${group.id}, pid=${post.id})}">
                    <button>Edit</button>
                </a>
            </div>
                </div>
            </div>

        <div class="comment-wrap">
            <h2>Comments</h2>
            <a sec:authorize="isAuthenticated()" th:href="@{/group/{gid}/posts/{pid}/comments/create(gid=${group.id}, pid=${post.id})}">
                <button>Add Comment</button>
            </a>



            <div class="comment" th:each="comment : ${comments}">
                <div sec:authorize="isAuthenticated()"><p><a th:href="@{/group/{gid}/posts/{pid}/comments/{cid}(gid=${group.id}, pid=${post.id}, cid=${comment.id})}"><span class="comment-name" th:text="${comment.user.username}"></span></a><i class="fas fa-comments"></i> - <span th:text="${comment.body}"></span></p></div>
                <div sec:authorize="!isAuthenticated()"><p><span class="comment-name" th:text="${comment.user.username}"></span><i class="fas fa-comments"></i> - <span th:text="${comment.body}"></span></p></div>


            </div>
        </div>


    </main>


    <footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>