<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
<header th:replace="partials/nav :: nav"></header>

<main>
    <div class="page-title-wrap">
        <div class="page-title"><h1>Edit Reminder</h1></div>
    </div>
    <div class="form-wrap">
        <form th:action="@{'/reminders/' + ${reminder.id} + '/edit'}" th:method="post" th:object="${reminder}">
            Reminder Time:
            <input th:field="*{scheduled_time}" />
            <br />
            Reminder Event:
            <input th:if="${appt.id} != null" th:field="*{appt.date_time + ' ' + appt.doctor_name}" />
            <input th:if="${med.id} != null" th:field="*{med.medicine_name + ' ' + med.refill_date}" />
            <br />
            Reminder Type:
            <select name="method" id="method" th:field="*{unit}">
                <option value="1">Text</option>
                <option value="2">Email</option>
                <option value="3">Both</option>
            </select>
            <input type="hidden" th:field="*{id}" />
            <input type="submit" value="Update Medicine" />
        </form>

        <form th:action="@{/medicines/delete}" th:method="post" th:object="${medicine}">
            <input type="hidden" th:field="*{id}" />
            <button>Delete</button>
        </form>
    </div>


    <div class="epmty-space"></div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>