<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<header th:fragment="nav">
    <div class="logo"><a href="/"><img src="/images/logo.png" alt="" /></a></div>

    <!--Desktop Nav-->
    <div class="nav-bar">
        <nav>
            <ul class="menu-bar nav-pad">
                <li><a href="/">Home</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/mylist">MyList</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/groups">Groups</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form class="logout_form" th:action="@{/logout}" th:method="post">
                        <a href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Logout</a>
                    </form>
                </li>
                <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/sign-up">Sign Up</a></li>
            </ul>

            <!--Mobile Nav-->

            <div class="hamburger">

                <div id="menuToggle">

                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <li><a href="/index">Home</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/mylist">MyList</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/groups">Groups</a></li>
                        <li sec:authorize="isAuthenticated()">
                            <form id="logout_form" th:action="@{/logout}" th:method="post">
                                <a href="javascript:{}" onclick="document.getElementById('logout_form').submit(); return false;">Logout</a>
                            </form>
                        </li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/sign-up">Sign Up</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
</body>
</html>