<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${error})"></head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
<header th:replace="partials/nav :: nav"></header>
<container>
    <div class="page-title-wrap">
        <div class="page-title"><h1>5-- error</h1></div>
    </div>
    <div class="error-page-wrap">
        <h2>Holy Crackers!!!</h2>
        <p>Something went really wrong!</p>

    </div>
    <div class="error-page-pic">
        <img src="/images/crackers.jpg" alt="" />
    </div>
    <div class="epmty-space"></div>
</container>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>