<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>

<header th:replace="partials/nav :: nav"></header>

<container>
    <div class="page-title-wrap">
        <div class="page-title"><h1>About VivetList</h1></div>
    </div>
    <div class="about">
        VivetList is free a web application designed to assist users with medical appointment reminders, prescription data and tracking along with a support forum for users to communicate.
    </div>
    <div class="about-title">
        <h2>The Developers</h2>
    </div>
    <div class="developer-wrap">
        <div class="developer-pic">
            <img src="/images/marcy.png" alt="" />
        </div>
        <div class="developer-info-wrap">
            <h3>Marcella Munter</h3>
            <div class="social"><a href="https://www.linkedin.com/in/marcella-munter/" target="_blank"><img src="/images/linkedin-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="https://github.com/MMunter" target="_blank"><img src="/images/github-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="mailto:marcella.munter@gmail.com"><img src="/images/email-icon.png" alt="" /></a>
            </div>
        </div>

    </div>
    <div class="about-line"></div>
    <div class="developer-wrap">
        <div class="developer-pic">
            <img src="/images/cooper.png" alt="" />
        </div>
        <div class="developer-info-wrap">
            <h3>Cooper Hanke</h3>
            <div class="social"><a href="https://www.linkedin.com/in/cooperhanke/" target="_blank"><img src="/images/linkedin-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="https://github.com/CooperHanke" target="_blank"><img src="/images/github-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="mailto:cooper.hanke@gmail.com"><img src="/images/email-icon.png" alt="" /></a>
            </div>
        </div>


    </div>
    <div class="about-line"></div>
    <div class="developer-wrap">
        <div class="developer-pic">
            <img src="/images/scott.png" alt="" />
        </div>
        <div class="developer-info-wrap">
            <h3>Scott Saegert</h3>
            <div class="social"><a href="https://www.linkedin.com/in/scott-saegert/" target="_blank"><img src="/images/linkedin-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="https://github.com/ssaegert" target="_blank"><img src="/images/github-icon.png" alt="" /></a>
            </div>
            <div class="social"><a href="mailto:ssaegert@gmail.com"><img src="/images/email-icon.png" alt="" /></a>
            </div>
        </div>


    </div>
    <div class="about-line"></div>
</container>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>