<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
    <header th:replace="partials/nav :: nav"></header>

    <container>
        <div class="page-title-wrap">
            <div class="page-title"><h1>Edit Profile</h1></div>
        </div>

        <form th:action="@{'/edit/' + ${user.id}}" th:method="post" th:object="${user}">
            Email:
            <input th:field="*{email}" />
            <br/>
            Username:
            <input th:field="*{username}" />
            Phone Number:
            <input th:field="*{phone_number}" />
            <br />
            <label for="time-zone">Time Zone:</label>
            <select id="time-zone" th:field="*{time_zone}" >
                <option value="" selected="selected">select your timezone</option>
                <option value="-10">(GMT -10:00) Hawaii</option>
                <option value="-9">(GMT -9:00) Alaska</option>
                <option value="-8">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                <option value="-7">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                <option value="-6">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                <option value="-5">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
            </select>
            <input type="hidden" th:field="*{id}" />
            <input type="submit" />
        </form>

            <a href="#">Change Password</a>

    </container>

</body>
</html>