<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
<header th:replace="partials/nav :: nav"></header>
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="ModalcloseBtn" class="closeBtn">&times;</span>
            <h2 id="med-modal-header">Modal Header</h2>
        </div>
        <div class="modal-body">
            <span id="medicine_info"></span>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<main>
    <div class="mylist-banner-wrap">
        <div class="mylist-banner-user">
            <!--<div class="mylist-user-pic"><img src="/images/default-user.jpg" alt="" /></div>-->
            <div class="user-info">
                <h2 th:text="'Welcome , ' + ${user.username} + '!'"></h2>
                <p th:text="${user.email}"></p>
                <p th:text="${user.phone_number}"></p>
                <a th:href="@{/edit/{id}(id=${user.id})}"><button>Edit Profile</button></a>
            </div>
        </div>
        <div class="mylist-banner-add">
            <a href="/medicines/create"><button>+ A Prescription</button></a>
            <a href="/appointments/create"><button>+ An Appointment</button></a>
        </div>
    </div>


    <div class="prescription-list-wrap">
        <h2>My Prescriptions <small>(Click to view Info)</small></h2>
        <ul th:each="med: ${meds}">
            <li>

                <div class="prescription-list-delete"><a th:href="@{/medicines/{id}/delete(id=${med.id})}" ><img src="/images/delete-icon.png" alt="" /></a></div>
                <span th:id="${med.medicine_name}" class="prescription-list-title" onclick="onClick(this)" th:text="${med.medicine_name}"></span>
                <div class="prescription-list-refill"><strong>Refill Date: </strong><span th:id="${med.refill_date}" th:text="${service.convertRefillDate(med.refill_date)}"></span></div>


                <div class="prescription-list-notes"><strong>Notes: </strong><span th:id="${med.notes}" th:text="${med.notes}"></span></div>


            </li>
        </ul>

    </div>
    <div class="calendar-wrap">
        <h2>My Appointments</h2>
        <div id="calendar"></div>
    </div>

</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        function renderCalendar() {
            $('#calendar').fullCalendar({timezone:'UTC'});
            var appointments = []; // clear all the events
            var request = $.ajax({'url': '/appointments.json'}); // make a request from the controller to fetch events in JSON format
            request.done(function (appts) {	// when done, we will move through each element in the array in order to grab the appointment object
                appts.forEach(function (appt) {
                    var obj = {
                        title: appt.name,
                        start: appt.start,
                        description: appt.location,
                        allDay: false
                    };
                    appointments.push(obj);
                });
                $('#calendar').fullCalendar('renderEvents', appointments, stick = true);
            });
        }
        renderCalendar();
    });
    var openfda = function(search) { // brings back two things: meta and results
        var medinfo = $('#medicine_info');
        medinfo.empty(); // clear results
        var request = $.ajax({
            'url': 'https://api.fda.gov/drug/label.json?api_key=jhZsAyS9joDLO09BgKoNHnJS2GgKZxc3BEbQRiwZ&search=' +
            search
        });
        request.done(function (results) { // results is an object
            var data = results.results[0]; // gather those results, prepare for filter and map
            console.table(data);
            var values = Object.values(data);
            for (var i = 0; i < values.length; i++) {
                medinfo.append('<a name="' + values[i] + '"><p>' + values[i] + '</p>');
            }
        });
    };
    function onClick(element) {
        document.getElementById("modal").style.display = "block";
        // here, we will push out a request for openfda to give us the medicine
        console.log(element.id); // got the medicine
        $('#med-modal-header').text(element.id);
        openfda(element.id);
    }
    var modal = document.getElementById('modal');
    var closeModal = document.getElementById('ModalcloseBtn');
    window.onclick = function(event) {
        if (event.target === modal || event.target === closeModal) {
            modal.style.display = "none";
        }
    }

/*]]>*/

</script>
</body>
</html>