<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" />-->
<header th:replace="partials/nav :: nav"></header>
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span id="ModalcloseBtn" class="closeBtn">&times;</span>
            <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
            <p>Hello...I am a modal</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus nisi, sunt consectetur ipsa velit repudiandae aperiam modi quisquam nihil nam asperiores doloremque mollitia dolor deleniti quibusdam nemo commodi ab.</p>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<container>
    <div class="mylist-banner-wrap">
        <div class="mylist-banner-user">
            <div class="mylist-user-pic"><img src="/images/default-user.jpg" alt="" /></div>
            <div class="user-info">
                <h2>Welcome Username</h2>
                <p>username@username.com</p>
                <a href="#"><button>Edit Profile</button></a>
            </div>
        </div>
        <div class="mylist-banner-add">
            <a href="#"><button>+ A Prescription</button></a>
            <a href="#"><button>+ An Appointment</button></a>
        </div>
    </div>


    <div class="prescription-list-wrap">
        <h2>My Prescriptions <small>(Click to view Info)</small></h2>
        <ul>
            <!--<button class="trigger">Trigger Modal</button>-->
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Dimethylamidophenyldimethylpyrazolone</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Metoprolol</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Talimogene Laherparepvec</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Levetiracetam</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Isavuconazonium</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Dimethylamidophenyldimethylpyrazolone</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Metoprolol</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Talimogene Laherparepvec</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Levetiracetam</span>
            </li>
            <li>
                <div class="prescription-list-edit"><img src="/images/edit-icon.png" alt="" /></div>
                <div class="prescription-list-delete"><img src="/images/delete-icon.png" alt="" /></div>
                <span class="prescription-list-title" onclick="onClick(this)">Isavuconazonium</span>
            </li>
        </ul>

    </div>
    <div class="calendar-wrap">
        <h2>My Appointments</h2>
        <div id="calendar"></div>
    </div>

</container>

<footer th:replace="partials/footer :: footer"></footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
<script>
    $(document).ready(function(){
        var events = [{
            title: 'doctor',
            start: moment().startOf('week'),
            end: moment().startOf('week').add(60, 'minutes'),
            color: 'green'
        },
            {
                title: 'doctor',
                start: moment().startOf('week'),
                end: moment().startOf('week').add(60, 'minutes'),
                color: '#999'
            }];
        $('#calendar').fullCalendar({
            events: events,
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source'
        });
    })
</script>
<script>
    function onClick(element) {
        document.getElementById("modal").style.display = "block";
    }
    var modal = document.getElementById('modal');
    var closeModal = document.getElementById('ModalcloseBtn');
    window.onclick = function(event) {
        if (event.target == modal || event.target == closeModal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>