<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Groups')"></head>
<body>
<article>
<header th:replace="partials/nav :: nav"></header>

<main>
    <div class="page-title-wrap">
        <div class="page-title"><h1>Groups</h1></div>
    </div>

    <div class="groups-wrap">
        <div class="group" th:each="group : ${groups}">
            <h2><span th:text="${group.name}"></span></h2>
            <p><span th:text="${group.description}"></span></p>
            <a th:href="@{/group/{id}(id=${group.id})}">
                <button>View Group</button>
            </a>

        </div>

    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>