<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>

<header th:replace="partials/nav :: nav"></header>

<container>
    <div class="page-title-wrap">
        <div class="page-title"><h1>Sign Up</h1></div>
    </div>
    <div class="form-wrap">
        <form th:action="@{/sign-up}" method="post" th:object="${user}">
            <div class="form-error" th:each="error : ${errors}" th:text="${error}"></div>

            <div class="form-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <label for="username">Username</label>
            <input id="username" type="text" placeholder="Please Enter Your Username" th:field="*{username}" />

            <div class="form-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="Please Enter Your Email" th:field="*{email}" />

            <div class="form-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" ></div>
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Please Enter a Strong Password" th:field="*{password}" />

            <label for="phone-number">Phone Number</label>
            <input id="phone-number" type="text" placeholder="Please Enter Your Phone Number" th:field="*{phone_number}" />
            <label for="time-zone">Your Time Zone</label>
            <select id="time-zone" th:field="*{time_zone}" >
                <option value="" selected="selected">select your timezone</option>
                <option value="-10">(GMT -10:00) Hawaii</option>
                <option value="-9">(GMT -9:00) Alaska</option>
                <option value="-8">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                <option value="-7">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                <option value="-6">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                <option value="-5">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
            </select>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="epmty-space"></div>
</container>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>