<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
<header th:replace="partials/nav :: nav"></header>

<main>

    <div class="page-title-wrap">
        <div class="page-title"><h1><span th:text="${group.name}"></span></h1></div>
    </div>
    <form th:action="@{/group/{gid}/posts/search(gid=${group.id})}" method="get" class="search-wrap">
        <input type="text" placeholder="Search posts in this group" name="search" />
    </form>
    <div class="new-post-wrap">
        <a sec:authorize="isAuthenticated()" th:href="@{/group/{gid}/posts/create(gid=${group.id})}">
            <button>New Post</button>
        </a>
    </div>
    <div class="single-group-wrap">
        <div class="single-group" th:each="post : ${posts}">
            <a th:href="@{/group/{gid}/posts/{pid}(gid=${group.id}, pid=${post.id})}">
                <h2><span th:text="${post.title}"></span></h2>
                <p><span th:text="${post.body}"></span></p>
            </a>

        </div>







    </div>
</main>
<footer th:replace="partials/footer :: footer"></footer>
</article>
</body>
</html>