<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('VivetList')"></head>
<body>
<article>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" />
    <header th:replace="partials/nav :: nav"></header>
    <main>
        <div class="page-title-wrap">
            <div class="page-title"><h1>Create Appointment</h1></div>
        </div>
        <div class="form-wrap-picker">
            <form th:object="${appointment}" th:method="post" th:action="@{/appointments/create}">

                <label for="time">Appointment Date &amp; Time</label>
                <input id="time" placeholder="Enter date and time of appointment" th:field="*{date_time}" />

                <label for="doctor">Name of Doctor</label>
                <input id="doctor" placeholder="Enter doctor's name" th:field="*{doctor_name}" />
                <label for="location">Location of Appointment</label>
                <input id="location" placeholder="Enter appointment location" th:field="*{location}" />

                <button id="appt_only" type="submit" name="choice" th:value="appt_only">Create Appointment </button>
                <h6>- or -</h6>
                <button id="create_reminder" type="submit" name="choice" th:value="reminder">Create Appointment With a Reminder</button>
            </form>
        </div>
    </main>

    <footer th:replace="partials/footer :: footer"></footer>
</article>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(function () {
            var time = $('#time');
            time.datetimepicker({
                inline: true,
                sideBySide: true
            });
            $('form').submit(function() {
                var originalTime = time.val();
                var newTime = moment(originalTime);
                time.val(newTime);
            });
        });
    </script>
</body>
</html>